<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h2 class="page-header">Cast Your Vote</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-card>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ selectedVoter?.name || 'Select Voter' }}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @for (vote of voters; track vote.id) {
                                        <li>
                                            <a class="dropdown-item" (click)="OnSelectVoter(vote)">
                                                {{ vote.name }}
                                            </a>
                                        </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            @if (this.selectedVoter) {
                            <div class="custom-radio-group">
                                @for (option of candidates; track option.value) {
                                <label class="custom-radio-container">
                                    <input type="radio" name="custom-radio" [value]="option.value"
                                        (change)="onSelectCandidate(option.value)" />
                                    <span class="custom-radio-checkmark"></span>
                                    {{ option.label }}
                                </label>
                                }
                            </div>
                            @if (this.votes) {
                            <button type="button" class="btn btn-primary">
                                Total Votes : <span class="badge bg-light text-dark">{{votes.votes+1}}</span>
                            </button>
                            }
                        }
                        </div>
                    </div>


                </div>
            </p-card>
        </div>
    </div>
</div>